params {
  input = null
  outdir = "results"
  host_index = null
  metaphlan_db = null
}

process {
  cpus = 4
  memory = "8 GB"
  errorStrategy = "terminate"
  withName: FASTP {
    container = "quay.io/biocontainers/fastp:0.24.0--heae3180_1"
  }
  withName: REMOVE_HOST {
    container = "quay.io/biocontainers/bowtie2:2.5.4--he20e202_1"
  }
  withName: METAPHLAN {
    container = "quay.io/biocontainers/metaphlan:4.1.1--pyhdfd78af_0"
  }
}

docker.enabled = false
singularity.enabled = false
podman.enabled = false

profiles {
  docker { docker.enabled = true }
  podman { podman.enabled = true }
  singularity { singularity.enabled = true }
}

timeline.enabled = true
report.enabled = true
trace.enabled = true
dag.enabled = true
